body {
	background-color: #ccccff;
}

h1 {
    color: #330033;
    font-family: verdana;
    font-size: 180%;
    margin: 30px;
}

h2 {
	color: #990099;
    font-family: verdana;
    font-size: 130%;
    margin: 30px;
}

.photo,
.photos,
.photoss,
.photosss,
.photossss {
	margin: 50px;
	padding: 30px ;
}

p {
	padding-left: 40px;
	font-family: verdana;
	font-size: 100%;
	color: #990099;

}